<style>
    .connectionMessage {
        height: auto;
        width: 100%;
        text-align: center;
        padding: 18px;
    }
    .success {
        color: #9afb04;
    }
    .error {
        color: #ff0000;
    }
</style> 

<div ng-show="vm.checked">
    <div class="connectionMessage" ng-show="vm.connectionStatus">
        <h3 class="success">CONNECTED!</h3>
        <p>Go ahead.</p>
        <a href="#!/login" class="btn btn-primary centre-block">Log In</a>
    </div>
    <div class="connectionMessage" ng-show="!vm.connectionStatus">
        <h3 class=" error">WHOOPS!</h3>
        <p>Error Connecting. Try Again.</p></div>
    </div>
</div>