﻿<style>
        .table>thead>tr>th {
            vertical-align: middle;
        }
    </style>
    <button ng-click="vm.onSell()">Sell</button>
    <button ng-click="vm.onBuy()">Buy</button>
    <button ng-click="vm.back()">back</button>
    <div class="container">
            <p style="text-align : center">Average buy and sell prices for each instrument</p>
<table class="table table-striped" st-pipe="vm.callServer" st-table="vm.displayed">
	<thead>
	<tr>
            <th st-sort="name">Instrument Name</th>
            <th st-sort="price">Price</th>
	</tr>
	<tr>
        <!-- <th><input st-search="counterparty.name"></th>
        <th><input st-search="instrument.name"></th>
        <th><input st-search="type"></th>
        <th><input st-search="amount"></th> 
        <th><input st-search="quantity"></th>
        <th><input st-search="time"></th> -->
	</tr>
	</thead>
	<tbody ng-show="!vm.isLoading">
            <tr st-select-row="x" st-select-mode="multiple" ng-repeat="x in vm.displayed">
                    <td>{{ x.name }}</td>
                    <td>{{ x.price }}</td>
                </tr>
	</tbody>
	<tbody ng-show="vm.isLoading">
	    <tr>
	    	<td colspan="7" class="text-center">Loading ... </td>
	    </tr>
	</tbody>
	<tfoot>
	<tr>
		<td class="text-center" st-pagination="" st-items-by-page="vm.itemsByPage" colspan="6">
		</td>
	</tr>
	</tfoot>
</table>	
    </div>