﻿<style>
        .table>thead>tr>th {
            vertical-align: middle;
        }
    </style>
    <div class="container">
            <button ng-click="vm.toReq1()">Stats</button>
            <p style="text-align : center">Trades</p>
<table class="table table-striped" st-pipe="vm.callServer" st-table="vm.displayed">
	<thead>
	<tr>
            <th st-sort="counterparty.name">Counterparty Name</th>
            <th st-sort="instrument.name">Instrument Name</th>
            <th st-sort="type">Bought/Sold</th>
            <th st-sort='amount'>Buy/Sell Price</th>
            <th st-sort="quantity">Quantity</th>
            <th st-sort="time">Time of Transaction</th>
	</tr>
	<tr>
        <!-- <th><input st-search="counterparty.name"></th>
        <th><input st-search="instrument.name"></th>
        <th><input st-search="type"></th>
        <th><input st-search="amount"></th> 
        <th><input st-search="quantity"></th>
        <th><input st-search="time"></th> -->
            <th colspan="7" style="padding-left: 0px; padding-right: 0px;">
                    <input st-search placeholder="Search" class="input-sm form-control" type="search" />
                </th>
	</tr>
	</thead>
	<tbody ng-show="!vm.isLoading">
            <tr st-select-row="x" st-select-mode="multiple" ng-repeat="x in vm.displayed">
                    <td>
                        <i ng-if="x.counterparty.status == 'A'" class="fa fa-circle" style="color: #33ff00"></i>
                        <i ng-if="x.counterparty.status != 'A'" class="fa fa-circle" style="color: red"></i> {{ x.counterparty.name
                        }}
                    </td>
                    <td>{{ x.instrument.name }}</td>
                    <td>{{ x.type }}</td>
                    <td>{{ x.amount | currency}}</td>
                    <td>{{ x.quantity }}</td>
                    <td>{{ x.time | date}}</td>
                </tr>
	</tbody>
	<tbody ng-show="vm.isLoading">
	    <tr>
	    	<td colspan="7" class="text-center">Loading ... </td>
	    </tr>
	</tbody>
	<tfoot>
	<tr>
		<td class="text-center" st-pagination="" st-items-by-page="vm.itemsByPage" colspan="6">
		</td>
	</tr>
	</tfoot>
</table>	
    </div>